<!DOCTYPE html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <!-- Include jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Include datatables -->
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css"> -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script>
      $.extend( $.fn.dataTable.defaults, {
	  paging: false,
	  info: false,
	  searching: false
      } );
      
      $(document).ready( function () {
	  $('#T_ratingTable').DataTable();
	  $('#T_gameTable').DataTable();
	  $('#T_scheduleTable').DataTable();
      } );
    </script>
    
  </head>
  
  <body>
    {% block content %}{% endblock %}
  </body>
  
</html>
