{% extends "base.html" %}
{% block title %}Ratings{% endblock %}
{% block content %}

<h3>Ratings</h3>

<p>Updated: {{ updated }}</p>


{{ ratings|safe }}

<div style="font-size: smaller">
  <p>The home advantage is expressed in terms of the game outcome measure, which is not necesarily points.</p>
  
  <p>R<sup>2</sup> measures how well the rating model fits the game outcome measure.  It can range between 0 and 1, where 0 indicates that the outcomes are unrelated to the ratings, and 1 indicates that the ratings completely explain the outcomes.</p>

  <p>"Consistency" measures the fraction of past game results (win or loss) that are correctly predicted by the ratings</p>
  
</div>

<p style="font-size: small">Score and schedule data courtesy of: <a href="https://www.masseyratings.com/data">Massey Ratings</a></p>

{% endblock %}
