{% extends "base.html" %}
{% block title %}Ratings{% endblock %}
{% block content %}

<div class="container">
  <h3>Ratings</h3>

  <p class="text-muted">Updated: {{ updated }}</p>


  {{ ratings_summary|safe }}

</div>

{% if past_ratings %}
<div class="container" style="padding-top:2rem">
  <h4>Past seasons</h4>

  {{ past_ratings|safe }}
  
</div>
{% endif %}

<div class="container" style="font-size: smaller; padding-top:1rem">
  <p>The home advantage is expressed in terms of the game outcome measure, which is not necesarily points.</p>
  
  <p>R<sup>2</sup> measures how well the rating model fits the game outcome measure.  It can range between 0 and 1, where 0 indicates that the outcomes are unrelated to the ratings, and 1 indicates that the ratings completely explain the outcomes.</p>

  <p>"Consistency" measures the fraction of past game results (win or loss) that are correctly predicted by the ratings.</p>

  <p>GP = Games Played, GR = Games Remaining</p>
  
</div>

<footer class="border-top" style="padding: 1.0rem 0">
  <div class="container">

    <small class="text-muted">
      <p>Score and schedule data courtesy of: <a href="https://www.masseyratings.com/data">Massey Ratings</a></p>

      <p>Ratings powered by <a href="https://github.com/mcfarljm/pyrate">PyRate</a></p>

    </small>
  </div>
</footer>

{% endblock %}
