{% extends "base.html" %}
{% block title %}Rankings{% endblock %}
{% block content %}
<h3>{{ rating }}</h3>

<p><a href="{{ url_for('home') }}">Back to home</a></p>

<p>Updated: {{ updated }}</p>

<p style="font-size: smaller">Legend: <span style="font-weight:bold">SoS</span> = Strength of Schedule (<span style="font-weight:bold">p</span>ast, <span style="font-weight:bold">f</span>uture, <span style="font-weight:bold">a</span>ll)</p>

<p style="font-size: small">Click column name to sort</p>

{{ table|safe }}

{% endblock %}
